* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    width: 50%;
    margin: auto;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.header a {
    float: left;
    text-align: center;
    line-height: 25px;
    vertical-align: bottom;
}

.header a:hover, a:active {
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #FFD0AE 40%);
}

.header {
    margin-top: 20px;
    border-bottom: 2px solid rgb(88, 61, 217);
    padding: 10px 5px;
    display: block;
    overflow: hidden;
}

.header-right {
    float: right;
    font-size: 18px;
}

.header-right a{
    margin-left: 30px;
}

#logo_text {
    font-size: 25px;
    font-weight: 800;
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #FFD0AE 40%);
}

h1 {
    font-weight: bold;
}

.intro {
    margin-top: 40px;
    margin-bottom: 40px;
}
