* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    font-family: Circular, sans-serif;
    font-weight: 400;
}

@font-face {
    font-family: Circular;
    src: url("fonts/CircularPro-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url("fonts/CircularPro-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Circular;
    src: url("fonts/CircularPro-Bold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: GT-Pressura;
    src: url("fonts/GT-Pressura-Mono-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 55%;
    /* border-left: 2px solid black; */
    /* background: -webkit-linear-gradient(rgb(133, 145, 255, .2) 0%, rgb(98, 189, 252, .2) 100%); */
    background: -webkit-linear-gradient(rgb(0, 255, 156, .2) 0%, rgb(0, 151, 255, .3) 100%);

}

.container {
    width: 95%;
    margin: auto;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.header a {
    float: left;
    text-align: center;
    line-height: 25px;
    vertical-align: bottom;
}

.header a:hover, .header a:active {
    background: linear-gradient(180deg,rgba(255,255,255,0) 30%, rgb(0, 151, 255, .3) 45%);
}

.header {
    margin-top: 20px;
    /* border-bottom: 2px solid rgb(88, 61, 217); */
    padding: 10px 5px;
    display: block;
    overflow: hidden;
}

.header-right {
    float: right;
}

.header-right a{
    margin-left: 30px;
}

.header a, .header a a {
    font-size: 24px;
    font-weight: 500;
}

#logo_text {
    background: linear-gradient(180deg,rgba(255,255,255,0) 30%, rgb(0, 151, 255, .3) 45%);
}

.intro {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.about-content {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    float: left;
}

.socials {
    float: right;
}

.socials a {
    margin-left: 20px;
}

.grid-wrapper {
    display: block;
}

ul {
    list-style-type: none;
}

.grid-item {
    width: 45%;
    margin: 20px 20px 20px 20px;
    height: 200px;
    font-family: GT-Pressura, monospace;
    list-style-position: inside;
    border: 1px solid black;
}

.right-col {
    float: right;
}

.left-col {
    float: left;
}

.intro-title {
    font-size: 32px;
}

.intro-subtitle {
    margin-top: 20px;
    font-size: 16px;
    font-family: GT-Pressura, monospace;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding-bottom: 40px;
    margin-top: 100px;
}

.footer a:hover, .footer a:active {
    background: linear-gradient(180deg,rgba(255,255,255,0) 30%, rgb(0, 255, 156, .2) 45%);
}

span {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 30%, rgb(0, 151, 255, .3) 45%);
}

.section-header {
    text-align: left;
}

/* div, ul, li, p, a, section, footer {
    border: 1px solid black;
} */
