* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    width: 50%;
    margin: auto;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.header a {
    float: left;
    text-align: center;
    padding: 6px;
    line-height: 25px;
}

.header a:hover, a:active {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
}

.header {
    margin-top: 10px;
    border-bottom: 5px solid rgb(88, 61, 217);
    padding: 20px 5px;
    display: block;
    overflow: hidden;
}

.header-right {
    float: right;
}

#logo_text {
    font-size: 25px;
    font-weight: bold;
}

h1 {
    font-weight: bold;
}
